.cardImg {
    height: 176px;
    width: 128px;
    justify-content: center;
    transform: scale(1);
    transition: transform .2s;
}

.singleCard {
    width: 134px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    overflow: hidden !important;
}

.singleCard:hover {
    cursor: pointer;
}

.singleCard:hover .cardImg{
    transform: scale(1.7);
}

.filmContainer {
    padding: 20px 20px;
    flex-wrap: nowrap !important;
    overflow: hidden;
}

.rateBadge {
    justify-content: center;
}

.linkTo {
    width: 144px !important;
    display: flex;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.detailsContainer {
    padding-top: 30px;
}

.detailsImage {
    width: 375px;
    height: 555px;
}