.showScreen{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.showList{
    display: flex;
    justify-content: left;
}

.titleBadge{
    margin: 20px;
    min-width: 200px;
    max-width: 200px;
}

.hourBadge{
    margin: 10px;
}

.vList{
    min-width: 1200px;
}

.vListItem{
    min-width:1200px
}

.offLink {
    text-decoration: none;
    color: #000065;
    margin: 10px;
}